@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 80%;
  height: 100vh;
}

.modal__floor__wrapper {
  max-width: 1500px;
}

.house__wrapper {
  position: relative;
  margin-top: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 41px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 41px -1px rgba(0, 0, 0, 0.2);
  border-radius: 19px;
}

.house {
  position: relative;
}

.house svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.house .part {
  opacity: 0;
}

.house .part:hover {
  opacity: 0.6;
}

.house__counte__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house__counter {
  position: relative;
  padding: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 39px;
  width: 304px;
  height: 180px;
  z-index: 999;
  margin-bottom: 40px;
  margin-right: 50px;
}

.house__counter h1 {
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.house__counter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF3D00;
  -webkit-box-shadow: 0px 4px 26px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 80px;
  padding: 15px 20px;
  color: #fff;
  font-size: 21px;
}

.line {
  position: absolute;
  top: auto;
  right: 0;
  background: #FF3D00;
  -webkit-box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 100px;
  z-index: 1;
}

.modal__floor__container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal__floor {
  position: relative;
  background: #fff;
  min-width: 800px;
  height: auto;
  padding-top: 70px;
}

.modal__floor .modal__name {
  padding: 0 400px 0px 10px;
  position: absolute;
  top: -17px;
  left: -25px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.modal__floor .prew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF3D00;
  -webkit-box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
  height: 61px;
  color: #fff;
}

.modal__floor .prew img {
  width: 20px;
}

.modal__floor #close-btn,
.modal__floor #prev-btn {
  position: absolute;
  top: -17px;
  right: -25px;
  width: 94px;
}

.modal__floor__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 800px;
}

.modal__floor .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  height: 100%;
}

.modal__floor .left .flat {
  width: 100%;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgba(0, 0, 0, 0);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal__floor .left .flat img {
  width: 100%;
  height: 100%;
}

.modal__floor .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  height: 100%;
}

.modal__floor .right .flat {
  width: 100%;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgba(0, 0, 0, 0);
}

.modal__floor .right .flat img {
  width: 100%;
  height: 100%;
}

.modal__floor .right .flat:last-child {
  margin-bottom: 0px;
}

.flat__content {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flat__content__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.flat__content .flat__content__description__content {
  margin-top: 30px;
}

.flat__content .flat__content__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  width: 450px;
  height: 55px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
}

.flat__content .flat__content__description__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 190px;
  height: 100px;
  background: #FF3D00;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 30px 0px;
}

.flat__content .flat__content__description__price span {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

.flat__content .flat__content__description span {
  font-size: 16px;
  text-transform: uppercase;
}

.floor__main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.floor__main__content__inside {
  background: #FF3D00;
  -webkit-box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 10px 40px;
  height: 100px;
  color: #fff;
}

.floor__main__content__inside h1 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.floor__main__content__inside .floor__counter {
  font-size: 21px;
}

.head__menu {
  position: absolute;
  top: -15px;
  right: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 5px;
}

.head__menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 500px;
  padding: 10px;
}

.head__menu nav li {
  margin: 0 20px;
  list-style-type: none;
}

.gallery__flat {
  position: relative;
  width: 890px;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 130px;
}

.gallery__flat__main {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 400px;
}

.gallery__flat__main img {
  height: 100%;
}

.gallery__flat img {
  width: 100%;
}

.gallery__flat__line {
  position: relative;
  height: 110px;
  width: 100%;
  margin-top: 15px;
  white-space: nowrap;
  left: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery__flat__line__img {
  margin: 0 5px;
  width: 150px;
  display: inline-block;
}

.gallery__flat__line__img img {
  height: 100px;
}

.gallery__flat__line__img:first-child {
  margin: 0 5px 0 0;
}

#next__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  background: #FF3D00;
  -webkit-box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 50px;
}

#next__btn img {
  width: 20px;
}

.flat__content_button__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
  right: -25px;
  width: 262px;
  height: 100px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 5px;
  background: #FF3D00;
  -webkit-box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
}

.yzel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flat__content__form {
  padding-bottom: 48px;
  width: 50%;
}

.flat__content__form input {
  outline: none;
  border: none;
  padding: 0 30px;
  width: 340px;
  height: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.flat__content__form input[placeholder] {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.flat__content__form .flat__content__form__btn {
  margin-top: 10px;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  letter-spacing: 3px;
  color: #fff;
  width: 174px;
  height: 58px;
  background: #FF3D00;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: -20px;
  left: -25px;
}

.flat__content__form__info {
  width: 50%;
}

.flat__content__form__info h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.flat__content__form__info p {
  margin: 35px 0px;
}

.social__links nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__links nav a {
  margin-right: 15px;
}

.social__links nav a li {
  list-style-type: none;
}

.social__links nav a li img {
  width: 20px;
}

.fadeOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: fadeOutAnim 0.5s linear forwards;
          animation: fadeOutAnim 0.5s linear forwards;
}

.preloader__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 312321;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #FF3D00;
  border-color: #FF3D00 transparent #FF3D00 transparent;
  -webkit-animation: lds-dual-ring 1.5s linear infinite;
          animation: lds-dual-ring 1.5s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOutAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */